* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: lightblue;
  width: 70%;
  margin: 20px auto;
}

.header-titolo {
  position: relative;
  height: 300px;
  margin-bottom: 50px;
  background-image: url(../img/natural-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 9px solid #fff;
}

.container-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container-logo img {
  height: 200px;
}

.container-logo h1 {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
}

.footer {
  background-color: red;
  height: 100px;
}

.float-left {
  float: left;
}

.col-sinistra {
  background-color: red;
  width: 15%;
  border: 3px solid grey;
  padding: 3px;
}

.col-centro {
  background-color: yellow;
  width: 60%;
  margin: 0 5%;
  border: 3px solid grey;
  padding: 3px;
}

.col-destra {
  width: 15%;
  padding: 3px;
}

.widget {
  background-color: lightblue;
  margin-bottom: 24px;
  border: 3px solid grey;
  padding: 5px;
}
